In [15]:
import configparser

# Load confing
config = configparser.ConfigParser(interpolation=None)
config.read('config.ini')

from src.utils_sorting import *

%load_ext autoreload
%autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
def get_data_google(link_id: str = '1LeFExyFaH101326yN82BKjLaPmX0uKKTK4g0lQvBquY') -> pd.DataFrame:
    df = pd.read_csv(
        'https://docs.google.com/spreadsheets/d/' +
        link_id  +
        '/export?gid=0&format=csv',
        skiprows=1,
    )
    df.drop(["1.", "Overall"], axis=1, inplace=True)
    
    columns = ["Teams", "SCP"]
    columns.extend([f'Flight {i}' for i in range(1, FLIGHTS + 1)])

    df.columns = columns
    return df

In [17]:
df = get_data_google()

In [18]:
df

,Teams,SCP,Flight 1,Flight 2,Flight 3,Flight 4,Flight 5,Flight 6,Flight 7,Flight 8,Flight 9,Flight 10,Flight 11,Flight 12,Flight 13,Flight 14,Flight 15,Flight 16
0,MYC,NaN,3,5,3,2,6,1,2,3,1,3,4,2,2,3,1,NaN
1,SMCÜ,NaN,1,4,1,4,2,1,1,OCS,3,2,5,1,6,2,5,NaN
2,NRV,NaN,5,1,2,5,2,4,1,OCS,4,2,2,1,3,4,2,NaN
3,MSC,NaN,1,4,1,4,1,6,5,1,2,1,6,6,4,2,3,NaN
4,KYC (SH),NaN,4,1,1,1,3,OCS,2,4,6,4,5,5,4,1,1,NaN
5,SV03,NaN,1,2,3,6,6,2,6,1,4,6,1,2,1,5,3,NaN
6,DYC,NaN,6,1,5,2,5,3,6,2,5,1,2,1,1,3,6,NaN
7,BYC (BA),NaN,6,3,2,2,1,3,4,2,5,3,3,6,6,2,2,NaN
8,BYCÜ,NaN,4,2,5,1,1,2,2,1,3,6,5,5,5,5,4,NaN
9,JSC,NaN,5,2,4,3,6,2,5,4,3,5,1,2,2,4,4,NaN
10,BYC (BE),NaN,2,6,2,4,3,3,3,5,5,1,6,3,5,3,RDG,NaN
11,VSaW,NaN,4,4,5,3,4,1,4,3,6,2,4,4,5,5,1,NaN
12,ASVW,NaN,2,6,3,6,5,5,1,5,4,6,2,6,2,1,2,NaN
13,SVI,NaN,3,5,4,3,5,4,4,2,2,3,3,5,3,4,6,NaN
14,KYC (BW),NaN,5,3,6,1,4,5,3,6,2,5,4,4,6,1,4,NaN
15,FSC,NaN,3,5,6,5,3,6,6,3,1,5,1,3,3,6,5,NaN
16,RSN,NaN,2,3,4,6,4,4,3,4,6,4,6,3,4,6,3,NaN
17,WYC,NaN,6,6,6,5,2,5,5,6,1,4,3,4,1,6,5,NaN

In [19]:
pairing_list, _ = create_pairing_list(3)
pairing_list = pairing_list.drop(["flight", "Race"], axis=1)

In [20]:

pairing_list

      Boat1    Boat2    Boat3    Boat4    Boat5    Boat6
0   KYC(SH)     BYCÜ     SV03      NRV      MSC      SVI
1      VSaW      FSC      DYC  BYC(BE)      WYC      JSC
2   KYC(BW)      RSN      MYC     SMCÜ  BYC(BA)     ASVW
3   KYC(BW)     SV03      MYC      JSC      SVI  BYC(BE)
4       RSN  BYC(BA)      MSC      FSC      DYC      NRV
5      ASVW  KYC(SH)     SMCÜ      WYC     BYCÜ     VSaW
6      SV03  KYC(SH)      FSC  BYC(BA)      MYC     VSaW
7       SVI      MSC  BYC(BE)      RSN     ASVW      WYC
8      SMCÜ      JSC      NRV      DYC  KYC(BW)     BYCÜ
9   BYC(BE)     ASVW      NRV  KYC(SH)  KYC(BW)      FSC
10     BYCÜ      DYC      RSN      SVI     VSaW      MYC
11      WYC     SMCÜ  BYC(BA)      MSC      JSC     SV03
12  BYC(BE)     SMCÜ     VSaW      RSN      NRV     SV03
13      FSC      MYC     BYCÜ     ASVW      JSC      MSC
14  BYC(BA)  KYC(BW)      SVI      WYC  KYC(SH)      DYC
15      MSC  KYC(BW)     ASVW     VSaW     SV03      DYC
16      JSC  BYC(BE)  KYC(SH)     BYCÜ      RSN  BYC(BA)
17      MYC      NRV      WYC      SVI      FSC     SMCÜ
18     SV03      RSN      WYC     BYCÜ      FSC  KYC(BW)
19      NRV      SVI      JSC  BYC(BA)     VSaW     ASVW
20      DYC  BYC(BE)      MSC      MYC     SMCÜ  KYC(SH)
21      DYC     SV03      RSN      JSC     ASVW  KYC(SH)
22      FSC  BYC(BA)      SVI     SMCÜ  BYC(BE)     BYCÜ
23      MSC     VSaW  KYC(BW)      NRV      WYC      MYC
24     SMCÜ     ASVW      DYC     SV03      SVI      FSC
25      WYC     BYCÜ  BYC(BA)      MYC  BYC(BE)      NRV
26      JSC      MSC  KYC(BW)     VSaW  KYC(SH)      RSN
27      NRV      WYC     SV03     ASVW      MYC      RSN
28      SVI      JSC  KYC(SH)  KYC(BW)     SMCÜ      FSC
29  BYC(BA)      DYC     VSaW      MSC     BYCÜ  BYC(BE)
30  BYC(BA)      NRV      FSC      MSC      RSN      JSC
31      MYC     VSaW  BYC(BE)  KYC(BW)     SV03      SVI
32     BYCÜ      WYC     ASVW  KYC(SH)      DYC     SMCÜ
33     BYCÜ  BYC(BE)     ASVW     SV03  BYC(BA)  KYC(BW)
34     VSaW      SVI     SMCÜ      FSC      RSN      MSC
35  KYC(SH)      MYC      JSC      DYC      NRV      WYC
36     SMCÜ      MYC      JSC     BYCÜ      MSC     SV03
37     ASVW      NRV      SVI  KYC(SH)     VSaW  BYC(BA)
38      RSN      FSC      DYC  BYC(BE)  KYC(BW)      WYC
39      MSC      FSC  KYC(SH)  BYC(BE)     ASVW      MYC
40      JSC     VSaW  BYC(BA)      WYC     SMCÜ  KYC(BW)
41     SV03      RSN     BYCÜ      DYC      NRV      SVI
42      WYC      JSC  BYC(BE)     ASVW      MSC      SVI
43      DYC  BYC(BA)  KYC(BW)      RSN      MYC     SMCÜ
44      FSC  KYC(SH)     SV03     VSaW     BYCÜ      NRV
45      RSN  KYC(SH)     SV03      SVI      WYC  BYC(BA)
46  KYC(BW)     BYCÜ     SMCÜ      NRV  BYC(BE)      MSC
47      MYC     ASVW     VSaW      JSC      FSC      DYC

In [21]:
import numpy as np

In [22]:
def highlight_fleet(_, team_in_fleet: list[bool], color: str):
    return ['color:'+color if team else '' for team in team_in_fleet]

In [47]:
import numpy as np

teams = df["Teams"].values

flight = 1
style_df = df.style

colors = ["red", "blue", "green"]

for i in range(pairing_list.shape[0]):

    team_in_fleet = np.isin(teams, pairing_list.iloc[i, :].values)
    
    column_name = 'Flight ' + str(flight)
    
    color = colors[i % len(colors)]
    
    style_df = style_df.apply(highlight_fleet, subset=[column_name], team_in_fleet=team_in_fleet, color=color)

    if (i + 1) % 3 == 0:
        flight += 1

In [48]:
style_df